/* Shared-Style */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.display-flex {
    display: flex;
}

.primary-color {
    color: rgba(37, 36, 50, 1);
}

.secondary-color {
    color: rgba(137, 135, 161, 1);
}

.third-color {
    color: rgba(233, 90, 8, 1);
}

.fourth-color {
    color: rgba(0, 0, 0, 0.5);
}

.fifth-color {
    color: rgba(17, 17, 17, 1);
}

.btn-style {
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
    padding: 17px 55px
}

.btn-style:hover {
    background-color: green;
}

.join-btn {
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border: none;
    /* padding: 11px 60px */
}

.join-btn:hover {
    background-color: green;
}

/* Header-Style */
header {
    margin-bottom: 30px;
    padding: 30px 0;
}

/* Nav-Style */

nav {
    justify-content: space-between;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    /* padding-top: 30px; */
}

.nav-img {
    width: 130px;
    height: 70px;
}

nav ul li a img {
    width: 20px;
    height: 20px;
}

nav ul {
    list-style: none;
    padding-top: 30px;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo img {
    width: 20px;
    height: 20px;
}

/* Banner-Style */
.banner {
    display: flex;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 112px;
}

/* .content{
   padding-top: 56px;
   align-items: center;
} */
.banner-heading {
    font-weight: bold;
    font-size: 65px;
    padding-top: 55px;
}

.content {
    padding: 20px;

}

.photo {
    width: 470px;
    height: 255px;
}

/* Maind-Style */
/* Plants-Style */
.plants {
    padding-top: 80px;
}

.plants-description {
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

.card-container img {
    width: 200px;
}

.card-container {
    width: 203px;
    height: 370px;
    /* border: 1px solid blue; */
    text-align: center;
    align-items: center;
}

.card-description {
    padding-top: 10px;
    padding-bottom: 20px;
}

.card-context {
    padding-top: 5px;
}

.btn {
    padding-top: 10px;
    align-items: center;
    text-align: center;
}

.section-heading {
    padding-bottom: 30px;
    text-align: center;
}

.plants-title {
    font-weight: bold;
    font-size: 50px;
}

.tk {
    font-weight: bold;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    justify-self: center;
}

/* Flower-Lover-Section-Style */
.flower-container {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 70px;

}

.inner img {
    width: 200px;
}

.inner {
    transform: translateX(300px) translateY(-400px);
}

.flower-description {
    padding-top: 10px;
}

.flower-heading {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.flower-description ul {
    padding-left: 20px;
}

.list-item {
    font-size: 16px;
}

.plants-lover-section {
    width: 1140px;
    margin: 0 auto;
    padding-top: 60px;
}

.flower-container img {
    width: 300px;
    height: 300px;
}

/* Deals-Section */
.deals {
    padding-top: 10px;
    padding-bottom: 40px;
}

.deals-container {
    align-items: center;
    text-align: center;
}

.deals-container h3 {
    font-weight: bold;
    font-size: 50px;
}

/* Photo-Collage-section */
/* Photo-Collage */
.photo-collage {
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.box-1 {
    background-image: url('../assets/deal-bloom.png');
    width: 100%;
    height: 100%;
}

.box-2 {
    background-image: url('../assets/deal-zabo.png');
    width: 100%;
    height: 100%;
}

.box-3 {
    background-image: url('../assets/deal-ana.png');
    width: 100%;
    height: 100%;

}

.box-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 150px;
    border-radius: 10px;
}

.box-2 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: 320px;
    border-radius: 10px;
}

.box-3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 150px;
    border-radius: 10px;
}

.grid-container {
    max-width: 1140px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 10px;
}

.box {
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: rgba(255, 255, 255, 1);
    padding: 15px 20px;
}

.text a {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

/* Join-Section */
.join-section {
    padding-top: 70px;
}

.join-container {
    background-image: url('../assets/news-letter-bg.png');
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.join-description {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
}

.join-heading {
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
}

.mail input[type="email"] {
    width: 566px;
    height: 40px;
    border: none;
    padding-left: 15px;
}

/* Footer-Style */
.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

.footer-container {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.footer-container a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

.footer-container p {
    color: rgba(137, 135, 161, 1);
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 30px;
}

.link-column {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 30px;
}

.media-icon a img {
    width: 30px;
    height: 30px;
}

/* Media-Responsive */
@media screen and (max-width: 576px) {

    .ls-a {
        display: none;
    }

    .nav-img {
        width: 50px;
        height: 50px;
    }

    .photo {
        width: 100%;
    }

    .nav {
        justify-content: space-between;
        text-align: center;
        padding-left: 20px;
    }

    .banner {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    nav {
        justify-content: space-around;
        text-align: center;
        padding: 0;
    }

    .banner {
        display: flex;
        padding: 0;
    }

    .section-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding: 0;
        justify-self: center;
        /* padding-top: 0; */
    }

    .section-heading h3 {
        font-size: 24px;
    }

    .section-heading p {
        font-size: 14px;
    }

    .content {
        padding-top: 30px;
    }

    .content h3 {
        font-size: 24px;
    }

    .content p {
        font-size: 14px;
    }

    .plants {
        padding-top: 70px;
    }

    /* Flower_lover_section */
    .inner img {
        display: none;
    }

    .flower-container {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding: 0;
    }

    .flower-container img {
        width: 400px;
        height: 500px;

    }

    .flower-img {
        padding: 0;
        margin: 0 auto;
    }

    .plants-lover-section {
        max-width: 400px;
    }

    /* Deals_section */
    .deals {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .deals-container h3 {
        font-size: 24px;

    }

    .deals-container p {
        font-size: 14px;
        color: rgba(137, 135, 161, 1);
        padding-top: 10px;
    }

    .flower-container h3 {
        font-size: 24px;
    }

    .flower-container ul li {
        font-size: 14px;
    }

    /* Photo-collage-section */
    .photo-collage {
        max-width: 400px;
        padding: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .box-1 {
        grid-row: 1 / 1;
        grid-column: 1 / 2;
        height: 100%;
    }

    .box-3 {
        grid-row: 2 / 2;
        grid-column: 1 / 3;
        height: 200px;
    }

    .box-2 {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
        height: 200px;
    }

    /* Join-section */
    .join-container {
        margin: 0 auto;
        max-width: 400px;
        max-height: 250px;
    }

    .join-heading {
        font-size: 20px;
    }

    .mail input[type="email"] {
        width: 206px;
        height: 40px;
        border: none;
    }

    .join-heading {
        padding-top: 25%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: 10px;
        gap: 20px;
    }

    footer {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}